<% include ../partials/header %>
<h1 class="text-center">--User--</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Password</th>
                <th><a class="btn btn-success" href="/insert_user" role="button">Add New</a></th>
                <th>Delete</th>
                
            </tr>
        </thead>
        <tbody id="myTable">
            <% user.forEach(function(user){%>
                <tr>
                    <td scope="row">
                        <%=user.id %>
                    </td>
                    <td>
                        <%=user.email %>
                    </td>
                    <td>
                        <%=user.password %>
                    </td>
                    <td>
                    <a class="btn btn-primary" href="/user/<%= user.id%>" role="button">Edit</a>
                </td>
                <td>
                <a class="btn btn-danger"  onclick="return ConfirmDelete()" href="/user_delete/<%=user.id %>" role="button">Delete</a>
                </td>
                
                </tr>
                <%}); %>
        </tbody>
    </table>
    <script>
            function ConfirmDelete() {
                var result = confirm("Do you want to delete [Dictionary ?]");
                if(result){

                }
            }
                
    </script>
    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
         var value = $(this).val().toLowerCase();
         $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
         });
       });
    });
</script>

    <% include ../partials/footer %>